@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.top {
  background: #222222;
}

.top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}

.top_menu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top_menu_logo {
  margin-right: 41px;
}

.top_menu_rigt_img {
  margin-left: 33px;
}

.top_info {
  background: #F1E4E6;
}

.top_info_img {
  max-width: 50%;
}

.top_info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_info_pink {
  background: #F16D7F;
  width: 12px;
  height: 92px;
  margin: 0 16px 0 64px;
}

.top_info_box_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_info_header {
  font-weight: 900;
  font-size: 48px;
}

.top_info_text {
  font-weight: 700;
  font-size: 32px;
}

.top_info_text_pink {
  font-size: 32px;
  line-height: 16px;
  color: #F26376;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}

.offer_clothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 30px;
}

.offer_img {
  width: 100%;
}

.offer_text {
  position: absolute;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.offer_text_pink {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #F26376;
}

.advantage {
  background-color: #222224;
}

.advantage_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 341px;
}

.advantage_car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.advantage_header {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 29px;
}

.advantage_text {
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin: 16px 30px;
}

.footer_fon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(img/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 448px;
}

.footer_quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  height: 225px;
}

.footer_fon_text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_header {
  font-size: 24px;
  color: #222224;
}

.footer_text {
  font-size: 18px;
  color: #222224;
}

.footer_form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_input {
  width: 259px;
  height: 49px;
  background-color: #E1E1E1;
  border: 0;
  border-radius: 23px 0 0 23px;
}

.footer_cliсk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0 23px 23px 0;
}

.footer_contacts {
  background: #222224;
}

.footer_contacts_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_contacts_text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_contacts_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer_contacts_li {
  margin-right: 7px;
  width: 32px;
  height: 32px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_contacts_button {
  font-size: 100%;
}

.footer_contacts_li:hover {
  background: #F16D7F;
}
/*# sourceMappingURL=style.css.map */